  <ng-include src="'navbar.template.html'"></ng-include>

<div class="container">

<h1 class="text-center">L'agenda di DIO!!!!!!</h1>


   <div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="app in appuntamenti">
    <div class="thumbnail" style=border:1px solid{{app.priorita}}>
      <img src="{{app.image}}" width="300px">
      <div class="caption">
        <h3>{{app.titolo}}</h3>
        <p>{{app.data|date:'dd/MM/yyyy'}}alle:{{app.data|date:'HH:mm'}}</p>
        <p><a class="btn btn-primary" role="button" ui-sref="dettaglio({id:app.id})">Vai</a> <a class="btn btn-danger"role="button" ng-click="elimina($index)">Elimina</a></p>
      </div>
    </div>
  </div>

  
</div>

</div>