<div class="container">
    <br>
    <br>
    <button class="btn btn-primary" ng-click="back()">Indietro</button>
    <form ng-submit="crea()" novalidate>
  
  <div class="form-group">
    <label for="Titolo">Titolo</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="appuntamento.titolo">
  </div>
 
  <div class="form-group">
    <label for="Descrizione">Descrizione</label>
    <input type="text" class="form-control" id="descrizione" ng-model="appuntamento.descrizione">
  </div>
  
  <div class="form-group">
    <label for="Luogo">Luogo</label>
    <input type="text" class="form-control" id="luogo" ng-model="appuntamento.luogo">
  </div>
  
  <div class="form-group">
    <label for="Luogo">Immagine</label>
    <input type="" class="form-control" id="image" ng-model="appuntamento.image">
  </div>
  
  <div class="form-group">
        <select class="form-control" id="sel1" ng-model="appuntamento.priorita">
              <option style='background-color:red'; value="red">Alta</option>
              <option  style='background-color:yellow';value="yellow">Media</option>
              <option style='background-color:green'; value="green">Bassa</option>
        </select>
    </div>
  
  <div class="form-group">
    <input type="datetime-local" ng-model="appuntamento.data">
  </div>

  <button type="submit" class="btn btn-primary">Crea</button>
</form>
</div>